.root {
	-fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
    -fx-color: #ffffff;
}

.label {
	-fx-font-size: 32px;
	-fx-text-fill: #0065a4;
}

.lblPlayer {
    -fx-font-size: 20px;
    -fx-text-fill: #0065a4;
}

.titledPane {
	
}

.choiceBox {
	
}

.radioButton {
	
}

.textField {
	
}

.button {
	-fx-font-size: 20px;
	-fx-text-fill: #FFFFFF;
    -fx-background-color: #0065A4;
    -fx-padding: 5;
    -fx-margin: 10;
}